.redText{
  color: red;
}
.scatterplot-wrapper{
  border: solid 1px gray;
  background: #ddd;
  text-align: center;
  padding-top: 10%;
}

/* bar chart */
.bar-chart-svg {
  background: #eee;
  overflow: visible;
  margin-bottom: 2rem;
  display: block;
}

/* line chart */
.line-chart-svg {
  background: #eee;
  margin-bottom: 2rem;
  display: block;
}