/* External Styles */

body {
  font-family: Arial, Helvetica, sans-serif; 
}

/* util classes */
.red {
  border: solid 1px red;
}
.clear{
  clear: both;
}

/* class selector -- recommended */
.primary-header{
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0; 
}

.logo-link{
  width: 260px;
  display: inline-block;
}

.primary-nav{
  display: inline-block;
  width: calc(100% - 270px);
  text-align: right;
  vertical-align: top;
}

.primary-nav ul li {
  display: inline;
  list-style: none;
  padding: 10px 20px;
  font-size: 20px;
}

/* TODO: work on mouseover effect */

.primary-nav ul li a {
  color: darkblue;
  /* TODO: remove underline from anchor tag */
}

/* Footer Styles */

/* Style for Home page */
.jumbotron {
  background: darkblue url('../images/jumbotron-bg.jpeg') no-repeat;
  background-size: cover;
  height: 500px;
}

.hero-wrapper{
  width: 1180px;
  padding: 8% 0;
  margin: 0 auto;
}

.quick-intro{
  color: #2f78c4;
  font-size: 36px;
  line-height: 60px;
  width: 1180px;
  margin: 0 auto;
}

.jumbotron h1{
  color: #fff;
  font-size: 46px;
  margin-bottom: 16px;
}

.jumbotron p{
  color: #fff;
  font-size: 16px;
}

.jumbotron .c2a-btn{
  margin: 8px 0;
  display: inline-block;
  text-decoration: none;
}

.career-section{
  width: 100%;
  background-color: darkblue;
  height: 100%;
  overflow: auto;
}

.career-wrapper{
  width: 1180px;
  margin: 0 auto;
}
.career-img {
  float: left;
  width: 40%;
}

.career-content{
  float: left;
  width: 60%;
}

/* Contact Form */
.contact-heading2{
  text-align: center;
}
.contact-form{
  width: 34%;
  margin: 0 auto;
}
.contact-field-wrapper {
  margin: 15px 0;
}
.contact-field-wrapper label{
  width: 125px;
  display: inline-block;
}
.contact-field-wrapper input, .contact-field-wrapper textarea {
  width: 260px;
  padding: 10px 15px;
}
.contact-field-wrapper .query-label {
  vertical-align: top;
  padding-top: 10px;
}

.contact-buttons-wrapper{
  margin-left: 140px;
}

.contact-buttons-wrapper button{
  padding: 10px 22px;
  border-radius: 30px;
  border: solid 2px aqua;
}

.contact-buttons-wrapper button[type='submit']{
  background-color: aqua;
}
.contact-buttons-wrapper button[type='reset']{
  background-color: #fff;
}